<div class="text-center">
    <h1>Welcome to Online Courses Website </h1>
    <a asp-controller="student" asp-action="index">View all Students</a>
    <br />
    <br />
    <a asp-controller="student" asp-action="login">Login</a>
</div>
