@model Student

<form asp-action="Add" asp-controller="Student" method="post">
    <input type="hidden" asp-for="StudentId" />

    <div>
        <label asp-for="Name"> Student Name </label>
        <input asp-for="Name" />
    </div>
    <br />
    <br />

    <div>
        <label asp-for="Average"> Average</label>
        <input asp-for="Average" />
    </div>
    <br />
    <br />

    <div>
        <label asp-for="CourseId"> Course</label>
        <select asp-for="CourseId">
            <option value="">Select Course</option>
            @foreach (Course c in ViewBag.Corses)
            {
                <option value="@c.CourseId">@c.CourseName</option>
            }
        </select>
    </div>
    <br />
    <br />

    <div>
        <label asp-for="Password"> Password</label>
        <input type="password" asp-for="Password" />
    </div>
    <br />
    <br />

    <button type="submit"> Add New Student</button>
</form>