

<form asp-action="ChangePassword" asp-controller="Student" method="post">
    <div>
        <label>Enter new password</label>
        <br />
        <input type="password" name="newPass" />
    </div>

    <button type="submit">Change Password</button>
</form>