

<form asp-action-"Login" asp-controller="Student" method="post">

    <label for="id"> Name</label>
    <br />

    <input id="id" type="text" name="studentName">

    <br />

    <label for="pass"> Password</label>
    <br />


    <input id="id" type="password" name="stpass">
    <br />




    <button type="submit"> Login</button>
</form>