@model Student

<h2>Welcome @Model.Name</h2>
<br />
<h3>Your ID is @Model.StudentId</h3>
<br />
<h3>Your Average is @Model.Average</h3>
<br />
@if (Model.Course != null)
{
    <h3>You are student at @Model.Course.CourseName Course</h3>
}
else
{
    <h3>You are not enrolled in any course</h3>
}
<a asp-controller="student" asp-action="Login">Main Menu</a>