@model String

<h1> Welcome @Model</h1>
<a asp-action="sDetails" asp-controller="Student"> View Details</a>
<br />
<a asp-action="Logout">Logout</a>
<br />
<a asp-action="ChangePassword">Change Password</a>